/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container { 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ffcb05;
    background-color: rgb(197, 22, 22);
    color: white;
    margin-bottom: 20px;
}

.banner_kanto {
    height: auto;
    width: 50%;
    margin-left: 22%;
}

h1 {
    color: #ffcb05;
    text-shadow: 2px 2px 0 #000000;
}

.endpoint {
    background-color: #f8f9fa;
    border-left: 4px solid red;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 0 4px 4px 0;
}

code {
    background-color: #eee;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: monospace;
}

footer {
    margin-top: 30px;
    padding: 20px;
    border-top: 2px solid #ffcb05;
    text-align: center;
    background-color: rgb(197, 22, 22);
    color: white;
}

a {
    color: #3c5aa6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}